<p id="notice"><%= notice %></p>

<p> Time: <%= @timeb %> </p>
<p><%= csrf_meta_tags %></p>

<div class="text-center">
  <%= image_tag "e1.jpeg", alt: "Home",  class: "img-fluid"%>
</div>

<h1>Employees</h1>

<table class="table table-dark">
  <thead>
    <tr class="table-active">
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Instagram</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr class="table-active">
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.contact %></td>
        <td><%= employee.instagram %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>

<%= form_with method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
  <%= form.check_box :pet_dog %>
  <%= form.label :pet_dog, "I own a dog" %>
  <%= form.check_box :pet_cat %>
  <%= form.label :pet_cat, "I own a cat" %>
<% end %>
<br>


<script>
window.addEventListener("load", () => {
  const links = document.querySelectorAll("a[data-remote]");
  links.forEach((element) => {
    element.addEventListener("ajax:success", () => {
      alert("The article was deleted.");
    });
  });
});
</script>
