<!DOCTYPE html>
<html>
  <head>
    <title>BlogOne</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="justify-content: center;display: flex;background-color: blue;">
      <p style="padding: 20px; color: white;"><%= link_to "Client Side", clients_index_path %></p><br>
      <p style="padding: 20px"><%= link_to "Home", posts_path %></p>
    </div>
    <%= yield %>
  </body>
</html>
